/**
SIDE NAVBAR
*/

.body{
    overflow-x: hidden !important;
}

.body a{
    text-decoration: none;

}
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100%;
    position: fixed;
    left: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    z-index: 10;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0px;
    /* overflow-x: hidden; */
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.nav-link{
    text-decoration: none;
    color:black !important;
    text-transform: capitalize;
}

.nav-link:hover {
    background-color:#289672;
    color: white !important;
}

.text-main {
    color: #289672 !important;
}


@media (max-width: 768px) {
    .body{
        max-width: 100% !important;
        width: 100%;
        overflow-x: hidden !important;
        margin: 0;
        padding: 0;
    }

    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
        padding: 0 10px 0 10px;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}
